<h1>Doses#new</h1>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>

  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>

  <%= f.button :submit %>
<% end %>

<p><%= link_to "Back to Home", cocktails_path, {class: "btn btn-primary"} %></p>
